<nb-layout windowMode>
  <nb-layout-header>婚姻绿卡信息采集表 I-130 & I-485</nb-layout-header>
  <nb-layout-column>


    <!--applicant -->
    <nb-card>
      <nb-card-header>Applicant </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Family Name (Last Name) 姓</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.FamilyName">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Middle Name</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.MiddleName">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Given Name (First Name) 名</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.GivenName">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City/Town/Village of Birth (出生地)</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.PlaceofBirth">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Country of Birth 出生国</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.CountryOfBirth">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date of Birth 出生日期</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.DateOfBirth"
                placeholder="mm/dd/yyyy">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Sex 性别</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.Sex">
                <nb-option value="">None</nb-option>
                <nb-option value="0">Male 男</nb-option>
                <nb-option value="1">Female 女</nb-option>
              </nb-select>
            </div>
          </div>
          <!-- only for test select -->
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> State 州</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.State">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> City/Town/Village of Birth 城市或镇</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.CityOrTown">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Amumber </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.ANumber">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Country Of Birth 出生国家</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.Country">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Place Of Birth 出生地</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.PlaceofBirth">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Country 国家</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.Country">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> IDStatus ID洲</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.IDStatus">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Reside City 居住城市</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.ResideCity">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Reside Country 居住国家</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.ResideCountry">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Ethni city 族群</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.Ethnicity">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">Hispanic or Latino</nb-option>
                <nb-option value="NY">Not Hispanic or Latino</nb-option>
              </nb-select>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Race 种族</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.Race">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">White</nb-option>
                <nb-option value="NY">Asian</nb-option>
                <nb-option value="WA">Black or African American</nb-option>
                <nb-option value="NY">American Indian or Alaska Native</nb-option>
                <nb-option value="WA">Native Hawaiian or Other Pacific Islander</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Height Feet 高度（英尺）</label>
              <input class="feet-input" type="text" nbInput [(ngModel)]="case.i130.applicant.HeightFeet">
              <input class="feet-input" type="text" nbInput [(ngModel)]="case.i130.applicant.HeightInches">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Weight 重量</label>
              <input class="weight-input" type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.Weight1">
              <input class="weight-input" type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.Weight2">
              <input class="weight-input" type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.Weight3">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Eye Color 眼睛颜色</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.EyeColor">
                <nb-option value="">None</nb-option>
                <nb-option value="Black ">Black 黑色</nb-option>
                <nb-option value="Blue">Blue 蓝色</nb-option>
                <nb-option value="Brown">Brown</nb-option>
                <nb-option value="Gray">Gray</nb-option>
                <nb-option value="Green">Green</nb-option>
                <nb-option value="Hazel">Hazel</nb-option>
                <nb-option value="Maroon">Maroon</nb-option>
                <nb-option value="Pink">Pink</nb-option>
                <nb-option value="Unknown/Other">Unknown/Other</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Hair Color 头发颜色</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.HairColor">
                <nb-option value="">None</nb-option>
                <nb-option value="Bald">Bald (No hair)</nb-option>
                <nb-option value="Black">Black</nb-option>
                <nb-option value="Blond">Blond</nb-option>
                <nb-option value="Brown">Brown</nb-option>
                <nb-option value="Gray">Gray</nb-option>
                <nb-option value="Red">Red</nb-option>
                <nb-option value="Sandy">Sandy</nb-option>
                <nb-option value="White">White</nb-option>
                <nb-option value="Unknown/Other">Unknown/Other</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Marital Status 婚姻状况</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.MaritalStatus">
                <nb-option value=""></nb-option>
                <nb-option value="0">Single, Never Married</nb-option>
                <nb-option value="1">Married</nb-option>
                <nb-option value="2">Divorced</nb-option>
                <nb-option value="3">Widowed</nb-option>
                <nb-option value="4">Separated</nb-option>
                <nb-option value="5">Annulled</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Date of Current Marriage (if currently married) 结婚时间</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.MarriedTimes"
                placeholder="mm/dd/yyyy">
            </div>
          </div>

          <!--                  没有找见-->
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Issued SSN 发行SSN</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.IssuedSSN">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Legal FamilyName 法律姓氏</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.Legal_FamilyName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Legal GivenName 法律名</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.Legal_GivenName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Legal MiddleName</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.Legal_MiddleName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Passport Num 护照编号</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.PassportNum">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Spouse Is USArmy 是否军人配偶</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.SponseIsUSArmy">
                <nb-option value="">None</nb-option>
                <nb-option value="0">Yes</nb-option>
                <nb-option value="1">No</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Children Living Num 子女个数</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.ChildrenLivingNum">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Child With You</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.applicant.ChildWithYou">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Joined Armry 参军</label>
              <nb-select fullWidth [(selected)]="case.i130.applicant.JoinedArmry">
                <nb-option value="">None</nb-option>
                <nb-option value="0">Yes</nb-option>
                <nb-option value="1">No</nb-option>
              </nb-select>
            </div>
          </div>

        </div>

      </nb-card-body>
    </nb-card>

    <!--person -->
    <nb-card>
      <nb-card-header>Person </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Certificate Number </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.idAddtion.CertificateNumber">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">My citizenship was acquired through (Select only one
                box): </label>
              <nb-select fullWidth [(selected)]="case.i130.idAddtion.CitizenshipAcquiredBy">
                <nb-option value="">None</nb-option>
                <nb-option value="1">Birth in the United States</nb-option>
                <nb-option value="2">Naturalization</nb-option>
                <nb-option value="3">Parents</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Have you obtained a Certificate of Naturalization or a
                Certificate of Citizenship? </label>
              <nb-select fullWidth [(selected)]="case.i130.idAddtion.ObtainedCertificate">
                <nb-option value="">None</nb-option>
                <nb-option value="false">No</nb-option>
                <nb-option value="true">Yes</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Place of Issuance</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.idAddtion.PlaceOfIssuance">
            </div>
          </div>

<div>sadad</div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date of Issuance (mm/dd/yyyy)</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.idAddtion.DateOfIssuance">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Class of Admission</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.idAddtion.ClassOfAdmission">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date of Admission (mm/dd/yyyy)</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.idAddtion.DateOfAdmission">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City or Town</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.idAddtion.CityOrTown">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Have you obtained a Certificate of Naturalization or a
                Certificate of Citizenship? </label>
              <nb-select fullWidth [(selected)]="case.i130.idAddtion.State">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Did you gain lawful permanent resident status through
                marriage to a U.S. citizen or lawful permanent resident? </label>
              <nb-select fullWidth [(selected)]="case.i130.idAddtion.State">
                <nb-option value="false">No</nb-option>
                <nb-option value="true">Yes</nb-option>
              </nb-select>
            </div>
          </div>









        </div>


      </nb-card-body>
    </nb-card>

    <!--parents -->
    <nb-card>
      <nb-card-header>Parents </nb-card-header>
      <nb-card-body>
        <div class="row">
          <label class="label">Parent 1's Information
          </label>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Family Name (Last Name)
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].FamilyName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Given Name
                (First Name)
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].GivenName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Middle Name
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].MiddleName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date of Birth (mm/dd/yyyy)
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].DateOfBirth">
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Sex 性别</label>
              <nb-select fullWidth [(selected)]="case.i130.parents[0].Sex">
                <nb-option value="">None</nb-option>
                <nb-option value="0">Male 男</nb-option>
                <nb-option value="1">Female 女</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Country of Birth
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].CountryOfBirth">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City/Town/Village of Residence
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].ResideCity">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Country of Residence
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].ResideCountry">
            </div>
          </div>

        </div>
        <div></div>
        <div class="row">
          <label class="label">Parent 2's Information
          </label>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Family Name (Last Name)
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].FamilyName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Given Name
                (First Name)
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].GivenName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Middle Name
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].MiddleName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date of Birth (mm/dd/yyyy)
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].DateOfBirth">
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Sex 性别</label>
              <nb-select fullWidth [(selected)]="case.i130.parents[0].Sex">
                <nb-option value="">None</nb-option>
                <nb-option value="0">Male 男</nb-option>
                <nb-option value="1">Female 女</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Country of Birth
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].CountryOfBirth">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City/Town/Village of Residence
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].ResideCity">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Country of Residence
              </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.parents[0].ResideCountry">
            </div>
          </div>

        </div>
      </nb-card-body>


    </nb-card>

    <!--spouse -->
    <nb-card>
      <nb-card-header>spouse1 </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Family Name (Last Name) 姓</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1.FamilyName">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Middle Name</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1.MiddleName">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Given Name (First Name) 名</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1.GivenName">

            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Date of Current Marriage (if currently married) 结婚时间</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1.MarriedTimes"
                placeholder="mm/dd/yyyy">
            </div>
          </div>

        </div>

      </nb-card-body>
    </nb-card>

    <!--beneficiary-->
    <nb-card>
      <nb-card-header>beneficiary </nb-card-header>
      <nb-card-body>
        <div class="row">

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Alien Registration Number (A-Number) (if any) </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.ANumber">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">USCIS Online Account Number (if any) </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.USCISOnlineAccount">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">U.S. Social Security Number (if any) </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.SSN">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Family Name (Last Name) 姓</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.FamilyName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Middle Name</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.MiddleName">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Given Name (First Name) 名</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.GivenName">

            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City/Town/Village of Birth (出生地)</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.PlaceofBirth">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Country of Birth 出生国</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.CountryOfBirth">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date of Birth 出生日期</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.DateOfBirth"
                placeholder="mm/dd/yyyy">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Sex 性别</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.Sex">
                <nb-option value="">None</nb-option>
                <nb-option value="0">Male 男</nb-option>
                <nb-option value="1">Female 女</nb-option>
              </nb-select>
            </div>
          </div>
          <!-- only for test select -->
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> State 州</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.State">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> City/Town/Village of Birth 城市或镇</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.CityOrTown">
            </div>
          </div>



          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Country Of Birth 出生国家</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.Country">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Place Of Birth 出生地</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.PlaceofBirth">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Country 国家</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.Country">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> IDStatus ID洲</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.IDStatus">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Reside City 居住城市</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.ResideCity">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Reside Country 居住国家</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.ResideCountry">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Ethni city 族群</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.Ethnicity">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">Hispanic or Latino</nb-option>
                <nb-option value="NY">Not Hispanic or Latino</nb-option>
              </nb-select>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Race 种族</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.Race">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">White</nb-option>
                <nb-option value="NY">Asian</nb-option>
                <nb-option value="WA">Black or African American</nb-option>
                <nb-option value="NY">American Indian or Alaska Native</nb-option>
                <nb-option value="WA">Native Hawaiian or Other Pacific Islander</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Height Feet 高度（英尺）</label>
              <input class="feet-input" type="text" nbInput [(ngModel)]="case.i130.beneficiary.HeightFeet">
              <input class="feet-input" type="text" nbInput [(ngModel)]="case.i130.beneficiary.HeightInches">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Weight 重量</label>
              <input class="weight-input" type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.Weight1">
              <input class="weight-input" type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.Weight2">
              <input class="weight-input" type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.Weight3">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Eye Color 眼睛颜色</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.EyeColor">
                <nb-option value="">None</nb-option>
                <nb-option value="Black ">Black 黑色</nb-option>
                <nb-option value="Blue">Blue 蓝色</nb-option>
                <nb-option value="Brown">Brown</nb-option>
                <nb-option value="Gray">Gray</nb-option>
                <nb-option value="Green">Green</nb-option>
                <nb-option value="Hazel">Hazel</nb-option>
                <nb-option value="Maroon">Maroon</nb-option>
                <nb-option value="Pink">Pink</nb-option>
                <nb-option value="Unknown/Other">Unknown/Other</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Hair Color 头发颜色</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.HairColor">
                <nb-option value="">None</nb-option>
                <nb-option value="Bald">Bald (No hair)</nb-option>
                <nb-option value="Black">Black</nb-option>
                <nb-option value="Blond">Blond</nb-option>
                <nb-option value="Brown">Brown</nb-option>
                <nb-option value="Gray">Gray</nb-option>
                <nb-option value="Red">Red</nb-option>
                <nb-option value="Sandy">Sandy</nb-option>
                <nb-option value="White">White</nb-option>
                <nb-option value="Unknown/Other">Unknown/Other</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Marital Status 婚姻状况</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.MaritalStatus">
                <nb-option value=""></nb-option>
                <nb-option value="0">Single, Never Married</nb-option>
                <nb-option value="1">Married</nb-option>
                <nb-option value="2">Divorced</nb-option>
                <nb-option value="3">Widowed</nb-option>
                <nb-option value="4">Separated</nb-option>
                <nb-option value="5">Annulled</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Date of Current Marriage (if currently married) 结婚时间</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.MarriedTimes"
                placeholder="mm/dd/yyyy">
            </div>
          </div>

          <!--                  没有找见-->
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Issued SSN 发行SSN</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.IssuedSSN">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Legal FamilyName 法律姓氏</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.Legal_FamilyName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Legal GivenName 法律名</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.Legal_GivenName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Legal MiddleName</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.Legal_MiddleName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Passport Num 护照编号</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.PassportNum">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Spouse Is USArmy 是否军人配偶</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.SponseIsUSArmy">
                <nb-option value="">None</nb-option>
                <nb-option value="0">Yes</nb-option>
                <nb-option value="1">No</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Children Living Num 子女个数</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.ChildrenLivingNum">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Child With You</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiary.ChildWithYou">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Joined Armry 参军</label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiary.JoinedArmry">
                <nb-option value="">None</nb-option>
                <nb-option value="0">Yes</nb-option>
                <nb-option value="1">No</nb-option>
              </nb-select>
            </div>
          </div>

        </div>

      </nb-card-body>
    </nb-card>

    <!--addresses -->
    <nb-card>
      <nb-card-header>addresses </nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Family Name (Last Name) 姓</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.addresses[0].InCareOfName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Street Number and Name</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.addresses[0].StreetNumberName">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Unit-Type / Uint</label>
              <nb-select class="addrUnit" [(selected)]="case.i130.addresses[0].UnitType">
                <nb-option value="0">Apt.</nb-option>
                <nb-option value="1">Ste.</nb-option>
                <nb-option value="2">Flr.</nb-option>
              </nb-select>
              <input type="text" class="addrUnit" nbInput [(ngModel)]="case.i130.addresses[0].Unit">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City or Town</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.addresses[0].CityOrTown">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> State 州</label>
              <nb-select fullWidth [(selected)]="case.i130.addresses[0].State">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">ZIP Code</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.addresses[0].ZipCode">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Province</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.addresses[0].Province">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Postal Code</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.addresses[0].PostalCode">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Country </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.addresses[0].Country">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">From Date</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.addresses[0].FromDate"
                placeholder="mm/dd/yyyy">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">To Date</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.addresses[0].ToDate" placeholder="mm/dd/yyyy">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Same As Physical Address</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.addresses[0].SameAsPhysicalAddr">
            </div>
          </div>




        </div>


      </nb-card-body>
    </nb-card>

    <!--workHistory -->
    <nb-card>
      <nb-card-header>workHistory </nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Name of Employer/Company</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].EmployerName">
            </div>
          </div>

          <!--            没有-->
          <!--            <div class="col-sm-4">-->
          <!--              <div class="form-group">-->
          <!--                <label class="label">Name of Employer/Company</label>-->
          <!--                <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].OrgName">-->
          <!--              </div>-->
          <!--            </div>-->

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Street Number and Name</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].StreetNumberName">
            </div>
          </div>

          <!--            没有-->
          <!--            <div class="col-sm-4">-->
          <!--              <div class="form-group">-->
          <!--                <label class="label"> Unit-Type / Uint</label>-->
          <!--                <nb-select class="addrUnit" [(selected)]="case.i130.workHistory[0].UnitType">-->
          <!--                  <nb-option value="0">Apt.</nb-option>-->
          <!--                  <nb-option value="1">Ste.</nb-option>-->
          <!--                  <nb-option value="2">Flr.</nb-option>-->
          <!--                </nb-select>-->
          <!--                <input type="text" class="addrUnit" nbInput  [(ngModel)]="case.i130.workHistory[0].Unit">-->
          <!--              </div>-->
          <!--            </div>-->

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City or Town</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].CityOrTown">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> State 州</label>
              <nb-select fullWidth [(selected)]="case.i130.workHistory[0].State">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">ZIP Code</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].ZipCode">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Province</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].Province">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Postal Code</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].PostalCode">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Country </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].Country">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date From</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].FromDate"
                placeholder="mm/dd/yyyy">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date To</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].ToDate"
                placeholder="mm/dd/yyyy">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Same As Physical Address</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.workHistory[0].Group">
            </div>
          </div>




        </div>


      </nb-card-body>
    </nb-card>

    <!--maritalInfo -->
    <nb-card>
      <nb-card-header>maritalInfo </nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date of Current Marriage</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.maritalInfo.Date">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City Or Town</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.maritalInfo.CityOrTown">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Street Number and Name</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.maritalInfo.Country">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> State 州</label>
              <nb-select fullWidth [(selected)]="case.i130.maritalInfo.State">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Province</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.maritalInfo.Province">
            </div>
          </div>

          <!--            没有-->
          <!--            <div class="col-sm-4">-->
          <!--              <div class="form-group">-->
          <!--                <label class="label">Start Date</label>-->
          <!--                <input type="text" nbInput fullWidth [(ngModel)]="case.i130.maritalInfo.StartDate" placeholder="mm/dd/yyyy">-->
          <!--              </div>-->
          <!--            </div>-->

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date Marriage Ended</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.maritalInfo.EndedDate"
                placeholder="mm/dd/yyyy">
            </div>
          </div>

        </div>


      </nb-card-body>
    </nb-card>

    <!--beneficiaryMaritalInfo -->
    <nb-card>
      <nb-card-header>beneficiaryMaritalInfo </nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date of Current Marriage</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiaryMaritalInfo.Date">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City Or Town</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiaryMaritalInfo.CityOrTown">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Street Number and Name</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiaryMaritalInfo.Country">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> State </label>
              <nb-select fullWidth [(selected)]="case.i130.beneficiaryMaritalInfo.State">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Province</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiaryMaritalInfo.Province">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date Marriage Started</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiaryMaritalInfo.StartDate"
                placeholder="mm/dd/yyyy">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date Marriage Ended</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.beneficiaryMaritalInfo.EndedDate"
                placeholder="mm/dd/yyyy">
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <!--spouseContact -->
    <nb-card>
      <nb-card-header>spouseContact </nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Telephone Number</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1Contact.Phone">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Mobile Telephone Number</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1Contact.Mobile">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Email Address</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1Contact.Email">
            </div>
          </div>
        </div>

      </nb-card-body>
    </nb-card>

    <!--spouse1EntryInfo -->
    <nb-card>
      <nb-card-header>spouse1EntryInfo </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Family Name (Last Name) 姓</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.ArrivalStauts">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Middle Name</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.EverBeenUS">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Given Name (First Name) 名</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.StayExpiraDate">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City/Town/Village of Birth (出生地)</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.LastImmigrationStatus">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Country of Birth 出生国</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.I94Number">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Date of Birth 出生日期</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.ArrivalDate"
                placeholder="mm/dd/yyyy">

            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Sex 性别</label>
              <nb-select fullWidth [(selected)]="case.i130.spouse1EntryInfo.TravelDocNumber">
                <nb-option value="">None</nb-option>
                <nb-option value="0">Male 男</nb-option>
                <nb-option value="1">Female 女</nb-option>
              </nb-select>
            </div>
          </div>
          <!-- only for test select -->
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> State 州</label>
              <nb-select fullWidth [(selected)]="case.i130.spouse1EntryInfo.PassportOrTravelDocIssueCountry">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> City/Town/Village of Birth 城市或镇</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.PassportExpiraDate">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Amumber </label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.ClassOfAdmission">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Country Of Birth 出生国家</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.ImmigrationProceedings">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Place Of Birth 出生地</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.LastArriveOther">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Country 国家</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.LastArriveAdmitted">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> IDStatus ID洲</label>
              <nb-select fullWidth [(selected)]="case.i130.spouse1EntryInfo.LastArriveStatus">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">WA</nb-option>
                <nb-option value="NY">NY</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Reside City 居住城市</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.CityTown">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Reside Country 居住国家</label>
              <input type="text" nbInput fullWidth [(ngModel)]="case.i130.spouse1EntryInfo.State">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> Ethni city 族群</label>
              <nb-select fullWidth [(selected)]="case.i130.spouse1EntryInfo.ParoleEntrance">
                <nb-option value="">None</nb-option>
                <nb-option value="WA">Hispanic or Latino</nb-option>
                <nb-option value="NY">Not Hispanic or Latino</nb-option>
              </nb-select>
            </div>
          </div>

        </div>

      </nb-card-body>
    </nb-card>



    <button nbButton (click)="submit()" status="primary" style="margin-top: 2rem;" [nbSpinner]="loading"
      [disabled]="loading">Submit</button>
  </nb-layout-column>

</nb-layout>
