.form-row {
    margin-bottom: 2rem;

    input {
        margin-right: 2rem;
    }
}

nb-checkbox {
    margin-bottom: 1rem;
}

.form-inline [fullWidth] {
    flex: 1;
}

.form-inline>* {
    margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
}

.feet-input{
  margin-top:1em;
  margin-left:1.2em;
  width: 11.4em;
  text-align: right;
}

.weight-input{
  margin-top:1em;
  margin-left:1.3em;
  width: 8.77em;
}

.addrUnit{
  margin-top:1em;
  margin-left:1.3em;
  width: 12.9em;
}

.smalltitle{
  margin-top:0.5em;
  font-weight: bold;
}



